PORT=3000
NODE_ENV="development"
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/menu_cafe?schema=public"
CLIENT_ORIGIN="http://localhost:3000"
JWT_SECRET="ganti-dengan-random-secret-minimal-32-karakter"
JWT_EXPIRES_IN="2h"
ADMIN_NAME="Pemilik Panama Corner"
ADMIN_EMAIL="admin@panamacorner.local"
ADMIN_PASSWORD="ganti-dengan-password-kuat-minimal-12-karakter"
